{% extends "base.html" %}
{% block title %}მთავარი{% endblock %}
{% block content %}
<div class="text-center">
    <h1>კეთილი იყოს თქვენი მობრძანება!</h1>
    <p>მე ვარ სანდრო ქათამაძე - FULLSTACK, MOBILE და ARDUINO დეველოპერი და ნარატივ დიზაინერი. ამ საიტზე შეგიძლიათ გაეცნოთ ჩემს ნამუშევრებს და გაიგოთ მეტი ჩემ შესახებ.</p>
    <p>პროგრამირების სამყაროში 13 წლის ასაკში შევედი, როცა დავინტერესდი, თუ როგორ იქმნებოდა ის ვებგვერდები და მობილური აპლიკაციები, რომელთა დახმარებით ყოველდღიურად ვმუშაობდი. ჩემი პირველი ნაბიჯები იყო მარტივი ვებსაიტების შექმნა HTML, CSS და JS-ის გამოყენებით. თუმცა, მალევე გადავწყვიტე, რომ ცოდნა გამეგრძელებინა და გადავწყვიტე პროფესიონალური ზრდა. ამისთვის გავუერთდი თიბისი ბანკსა და ჯეოლაბს, სადაც ვსწავლობდი მობილური დეველოპმენტისა და ფრონტენდ ტექნოლოგიებს. სწორედ აქედან დაიწყო ჩემი გზავნილი ტექნოლოგიურ სამყაროში, როდესაც ვმუშაობდი საინტერესო პროექტებზე თიბისი ტექსკოლისა და ჯეოლაბისთვის.</p>
    <p>შემდეგი ნაბიჯი იყო ექსპლორიუმში ჩეთბოტების შექმნა. შევქმენით ჩეთბოტები როგორც ჩემს პირად საიტზე, ასევე ანიმაჩეთბოტიკის პლატფორმაზე. ამ გამოცდილებამ კიდევ უფრო გამაფართოვა შესაძლებლობები და ცოდნა. გარდა ამისა, ვსწავლობდი ილიაუნის კიბერლაბორატორიაში - უნილაბში, სადაც გავიძინე უნიკალური მიმართულებები.</p>
    <p>ამჟამად ვსწავლობ ჭიათურის მულტიფუნქციურ ცენტრში, სადაც გადავდივარ რობოტიკის, IT ქსელებისა და ხელოვნური ინტელექტის პრინციპებზე GENAIEDU-ს პროექტში. 2024 წლიდან ვასპარეზობ რობოტიკის ევროპის ჩემპიონატზე, რაც ჩემთვის მნიშვნელოვან გამოცდად იქცა. ამასთანავე, მე ვარ სტუდენტი -  სქილვილის ნეო უნივერსიტეტში, python-ს განხრით.</p>
    <div class="mt-4">
        <a href="{{ url_for('portfolio') }}" class="btn btn-primary">იხილეთ ჩემი ნამუშევრები</a>
        <a href="{{ url_for('contact') }}" class="btn btn-secondary">თუ გაქვთ კითხვა, მომმართეთ აქ</a>
    </div>
</div>
{% endblock %}
